



.main{
    height: 100vh;
    background-color: rgb(8, 8, 8);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 .heading_container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    .header-text{
        font-size: 3rem;
        color: #fe1e4f;
        padding-bottom: 1.5rem;
    
    span{
        color:#fff;
    }
}
.button_add{
    // padding-left: 70rem;
    padding-bottom: 1rem;
    .add{
        background: #e70649;
        padding: 0.5rem 1rem 0.5rem 1rem;
        border: none;
        /* display: flex; */
        outline: none;
        color: #ffff;
        border-radius: 0.3rem;
    }
}
 }
    .card_area{
        width: 90%;
        display: flex;
        flex-wrap: wrap;
        gap: 3rem;
        .card{
            background-color: rgb(48, 45, 45);
            border-radius: 0.2rem;
            display: flex;
            padding: 1rem;
            flex-direction: column;
            // padding: 1rem;
      text-align: start;
      line-height: 2rem;

      &:hover{
        background-color:#fe1e4f28;
    }
            .texts{
                h3{
color: #ffff;
                }
            }
                .button_area{
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    gap: 2rem;
                    padding-top: 1rem;
                    //  width: 15rem;
                    //  height: 3rem;
                    //  background-color: rgb(87, 32, 138);
                    //  gap: 4rem;
                    button{
                background: #fe1e4f;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border: none;
    /* display: flex; */
    outline: none;
    color: #ffff;
    border-radius: 0.3rem;
                    }

                }
            }
           
           
        }
    }